[submodule "qc-trading-sim"]
	path = qc-trading-sim
	url = https://github.com/loocurse/qc-trading-sim.git
    branch = recommender
	
[submodule "tingyew-qc"]
	path = tingyew-qc
	url = https://github.com/ktingyew/Code-Server
	
[submodule "model-integration"]
	path = model-integration
	url = https://github.com/Mickey1356/quantcrunch-models.git
