[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
redis = "*"
polygon-api-client = "*"
odmantic = "*"

[dev-packages]
black = "==21.5b0"
datamodel-code-generator = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python main.py"
